.container{
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  
}


/* styles.css */
.navbar-link {
  background-color: rgb(59, 70, 225);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  float: right;
  margin-right: 100px;
  position: relative;
  overflow: hidden;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(59, 70, 225, 0.7); /* Color del resplandor neon */
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-link:hover {
  box-shadow: 0 0 10px rgb(59, 70, 225), 0 0 20px rgb(59, 70, 225), 0 0 30px rgb(59, 70, 225), 0 0 40px rgb(59, 70, 225); /* Agrega el resplandor neon al hacer hover */
  transform: translateY(-2px); /* Agrega una pequeña animación al hacer hover */
}

.navbar-link:hover::before {
  opacity: 1; /* Muestra el resplandor neon al hacer hover */
}


.navbar-link:hover {
  color: #ff00f0;
}

/* styles.css */
.button {
  background-color: rgb(59, 70, 225);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  float: right;
  margin-right: 100px;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(59, 70, 225, 0.7); /* Color del resplandor neon */
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0 0 10px rgb(59, 70, 225), 0 0 20px rgb(59, 70, 225), 0 0 30px rgb(59, 70, 225), 0 0 40px rgb(59, 70, 225); /* Agrega el resplandor neon al hacer hover */
  transform: translateY(-2px); /* Agrega una pequeña animación al hacer hover */
}

.button:hover::before {
  opacity: 1; /* Muestra el resplandor neon al hacer hover */
}


.button:hover {
  background-color: #ff00f0;
}
