.wrapperSearch {
  background-color: aqua;
  display: flex;
  align-items: center;
  padding: 10px;
  background-size: 70px;
  filter: opacity(0.7);
}

.input {
  border-radius: 20px;
  height: 30px;
  padding: 10px;
  margin-right: 10px; /* Agregado margin-right: 10px; para separar el input del botón */
}

.btn {
  background: transparent;
  border: none;
  width: 0%;
  flex-shrink: 0; /* Agregado flex-shrink: 0; para evitar que el botón se reduzca */
}
 