.wrapperSearch {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center; /* Añadido justify-content: center; para centrar horizontalmente */
  padding: 10px;
  background-size: 70px;
  filter: opacity(0.7);
}

.input {
  border-radius: 20px;
  height: 30px;
  padding: 10px;
  margin-right: 10px;
  /* background-color: #e3e3ee;
  box-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff; */
  transition: background-color 0.3s ease-in-out;
}

.input:focus {
  background-color: #8edef7fb;
}

.btn {
  background: transparent;
  border: none;
  width: 0%;
  flex-shrink: 0; /* Agregado flex-shrink: 0; para evitar que el botón se reduzca */
}
