.App {
   /* text-align: center; */
   background-image: url("./images/1375408-rick-and-morty-tv-series-4k-pc-wallpaper.jpg");
   /* background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh; 
   margin: 0; 
   overflow: hidden;
   padding: 0;
   box-sizing: border-box;  */

   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed; 
      height: 5000px;

}
